* {
  box-sizing: border-box !important;
}
.root{
  display: flex;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: auto;
  flex: 10;
}
.sidebar {
  flex: 2;
  padding: 20px;
  position: relative;
  box-shadow: -20px 0px 24px 0px #000000a6;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 10s linear;*/
  }
}

.App-header {
  background-color: #e1e1e1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #00000090;
  padding: 20px;
}

button {
  width: 100%;
  font-size: 14px;
  min-height: 34px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #0089ffbf;
  color: #0089ffbf;
  transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

button:hover {
  background-color: #0089ff21;
}

button:focus {
  background-color: #0089ff21;
  box-shadow: 0 0 0 4px #009bff61;
  outline: none
}

button:active {
  background-color: #0089ff21;
}

.box{
  width: 100px;
  height: 100px;
  background: rgb(255 109 50);
  margin-top: 50vh;
}

.love {
  color: white;
}